.header {
    position: absolute;
    top: 20px;
    height: 46px; 
    width: 95%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px 40px; 
    z-index: 3;
}